<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- 配置过滤器 -->
<filter>
    <filter-name>ecodingFilter</filter-name>
    <filter-class>com.sohu.mrd.videoDocId.filter.EncodeFileter</filter-class>
    <init-param>
        <param-name>ecoding</param-name>
        <param-value>UTF-8</param-value>
    </init-param>
</filter>
<filter-mapping>
    <filter-name>ecodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DocIdServlet</servlet-name>
    <servlet-class>com.sohu.mrd.videoDocId.web.DocIdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JSONDocIdServlet</servlet-name>
    <servlet-class>com.sohu.mrd.videoDocId.web.JSONDocIdServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DocIdServlet</servlet-name>
    <url-pattern>/getDocId</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JSONDocIdServlet</servlet-name>
    <url-pattern>/getDocId</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
